<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%=link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>

<%# Form doesnt work yet %>

<%= form_tag (heroines_path), method: "get" do %>
 <%= label_tag(:power_id, "Show heroines with the following power:") %>
  <br><%= text_field_tag(:heroines) %>
  <%= submit_tag "Search" %>
<% end %>
